{% extends 'base.html' %}
{% block conatent %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/update.css' %}">

    <div class="container main-part">
        <h4>About </h4>

        <div class="improve">
            <h5>Who made this website?</h5>
            <p>This website was created by a Myself with the help of youtuber. In order to keep people informed with data from official sources.</p>
            <h5>Sources</h5>
            <p>Local government websites/health departments</p>
            <ul>
                <a href="https://www.worldometers.info/coronavirus/" style="color: white;" target="_blank"><li>Worldometer</li></a>
            </ul>
            <h5>Contact</h5>
            <p>You can email us at pawankrmandal121@gmail.com</p>
        </div>

    </div>

{% endblock %}